body {
	font-size: 20px;
	font-family: monospace;
	background-image: linear-gradient(rgba(25, 25, 25, 0.719),rgba(25, 25, 25, 0.733)), url(bg.png);
}
img{
    width: 80px;
    height: 90px;
    margin-left: 48.5%;
}
h5 {
	font-family: bookman old style;
	margin-top: 4px;
	font-size: 22px;
	text-align: center;
	font-style: oblique;
	color: #d95a5a;
}
#hd {
	text-align: center;
	background-color: purple;
	color: orange;
	font-family: arial black;
	font-size: 30px;
}
#hd1 {
	text-align: center;
	background-color: green;
	color: white;
	font-family: bookman old style;
	font-size: 24px;
}
#hd2 {
	text-align: center;
	background-color: #e34242;
	height: 40px;
	color: whitesmoke;
	padding-top: 5px;
	font-family: bookman old style;
	font-size: 22px;
}
#status {
	text-align: center;
	background-color:#f38631;
	height: 30px;
	color: black;
	font-family: bookman old style;
	font-size: 22px;
}
equation,
eqn {
	color: yellow;
	font-family: bookman old style;
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
}

#container {
	margin : 10px auto;
    height: 530px;
    width : 1300px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    background-size: 900px, 2000px, 950px, 2000px;
    transform: translate(0%,0.5%);
    background: #fffffff7;
    background-position-x: center;
	font-size:18px;
}
h4{
	margin-left: 120px;
	padding-top: 0%;
}
p{
	margin-left: 120px;
	font-size: 1.2rem;
}
#candidate {
	margin: 20px auto;
	width: 1100px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 0px;
	position: relative;
}
#start {
	font-size: 1.5em;
	font-weight: initial;
	word-break: normal;
	width: 100px;
	height: 40px;
	border: 2px solid #f07575;
	text-align: center;
	cursor: pointer;
	background-color: white;
	color: #f07575;
	position: relative;
	left: 594px;
	top: 60px;
	text-align: center;
	border-radius: 7px;
	padding: 0%;
}
#P {
	margin-left: 300px;
	background-color: purple;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	width: 80px;
	bottom: 0px;
	height: 30px;
}
#N {
	left: 550px;
	background-color: orange;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	width: 55px;
	margin-bottom: 20px;
	height: 30px;
}
#S {
	left: 750px;
	background-color: rgb(242, 240, 240);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	word-break: normal;
	color: black;
	margin-bottom: 20px;
	width: 60px;
	height: 30px;
}
#S:hover {
	background-color: rgb(64, 135, 64);
	color: white;
}
#N:hover {
	border: 3px solid teal;
	background-color: rgb(255, 182, 48);
}
#P:hover {
	border: 3px solid teal;
	background-color: rgb(153, 19, 153);
}

#start:hover {
	border: 3px solid white;
	background-color: #f07575;
	color: white;
}

#question {
	width: 800px;
	height: 200px;
	position: absolute;
	left: 20px;
	top: 90px;
	padding-bottom: 10px;
}
#question p {
	margin: 0;
	padding: 15px;
	font-size: 1em;
	color: black;
}

#choices {
	width: 500px;
	position: absolute;
	justify-content: center;
	display: grid;
	left: 5px;
	margin-top: 40px;
	color: black;
	text-align: justify;
	padding: 5px;
}
.choice {
	width: 400px;
	text-align: center;
	border: 1px solid black;
	text-align: justify;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 8px;
	cursor: pointer;
	padding: 5px;
}

.choice:hover {
	font-weight: bold;
	background-color: #f07575;
	color: white;
}
#navs {
	width: 800px;
	position: absolute;
	right: 200px;
	bottom: 20px;
	padding: 10px;
}
.nav {
	display: inline-block;
	width: 190px;
	text-align: center;
	border: 4px dotted blue;
	border-radius: 15px;
	cursor: pointer;
	padding: 5px;
}
.nav:hover {
	border: 2px inset yellow;
	font-weight: bold;
}

#timer {
	position: absolute;
	height: 12px;
	width: 8px;
	top: 0px;
	right: 140px;
	margin-right: 10px;
}
#counter {
	font-size: 2em;
	color: mintcream;
	padding-right: 5px;
}
#progress {
	width: 510px;
	position: absolute;
	bottom: 8.5rem;
	right: 4rem;
	padding: 5px;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.prog {
	width: 35px;
	height: 35px;
	border: 1px solid rgb(61, 60, 60);
	border-radius: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
	text-align: center;
	cursor: pointer;
}
.prog span {
	color: rgb(61, 60, 60);
	position: relative;
	top: 6px;
}
.prog:hover {
	font-weight: bold;
	background-color:rgb(153, 211, 153);;
}
#scoreContainer {
	margin: 20px auto;
	background-color: white;
	opacity: 0.5;
	height: 400px;
	width: 1200px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 0px;
	position: relative;
	display: none;
}
#scoreContainer img {
	position: absolute;
	top: 250px;
	left: 425px;
}
#scoreContainer p {
	position: absolute;
	display: block;
	width: 59px;
	height: 59px;
	top: 230px;
	left: 425px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
